
.thumbs-wrapper {
    border: 3px solid #e4e4e4;
    .thumb-item {
        cursor: pointer;
        transition: opacity .4s ease;
        &:hover, &.active {
            opacity: .75;
        }
        &.active {
            cursor: default;
        }
        img {
            border: 1px solid #ccc;
        }
    }
}
.img-item {
    border: 3px solid #e4e4e4;
}