<div class="row no-gutters" *ngIf="gallery">
    <div class="col-md-9">
        <div class="overlay-loading" *ngIf="loading">
            <app-spinner [sectionSpinner]="true"></app-spinner>
        </div>
        <div class="img-item mr-md-2" *ngIf="selectedImage">
            <img [src]="selectedImage?.photo" class="img-fluid w-100" (load)="imgLoaded()">
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbs-wrapper">
            <div class="row no-gutters">
                <div class="col-md-4" *ngFor="let img of gallery">
                    <div class="thumb-item" [ngClass]="{active: selectedImage === img}" (click)="loading = selectedImage !== img;selectedImage = img;" >
                        <img [src]="img.thumbnail" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>